.wrapper {
 
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(36px);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
}


.typewrite .wrap {
  overflow: hidden;
  border-right: 0.08em solid transparent;
  white-space: nowrap;
  animation: typing ease-in-out infinite, blink-caret steps(1) 0.5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
